<ul class="nav justify-content-center p-1 shadow" style="background-color:#000000;color:rgb(240, 239, 237)">
  <li class="nav-item nav-underline">
    <a class="nav-link p-1 mx-5 mukta-regular" style="color:rgb(240, 239, 237);" aria-current="page" href="{{url_for('index')}}">About</a>
  </li>
    <li class="nav-item nav-underline">
      <a class="nav-link p-1 mx-5 mukta-regular" style="color:rgb(240, 239, 237);" aria-current="page" href="{{url_for('eda')}}">View EDA</a>
    </li>
    <li class="nav-item nav-underline">
      <a class="nav-link p-1 mx-5 mukta-regular" style="color:rgb(240, 239, 237);" aria-current="page" href="{{url_for('predict_rul')}}">Predict RUL</a>

      
    </li>
    <li class="nav-item nav-underline">
      <a class="nav-link p-1 mx-5 mukta-regular" style="color:rgb(240, 239, 237);" href="{{url_for('team')}}">Meet the team</a>
    </li>

  </ul>
 
